---
import NavbarAppShell from "./NavbarAppShell.astro";
import SidebarAppShell from "./SidebarAppShell.astro";
import config from "@util/themeConfig";
---

<div>
  {
    config.general.layout === "side" ? (
      <SidebarAppShell>
        <slot />
      </SidebarAppShell>
    ) : (
      <NavbarAppShell>
        <slot />
      </NavbarAppShell>
    )
  }
</div>
